{{#if login}}
  <a class="pull-left" href="#">
    <img class="media-object" src="{{avatar_url}}" style="width:64px; height:64px">
  </a>
  <div class="media-body">
    <h4 class="media-heading">{{message}}</h4>
    <small>{{repository}}</small>
    <small>{{ago}}</small>
    <br/><small>{{login}}</small>
  </div>
{{/if}}
