{{#if id}}
<li>
  <label class="checkbox inline">
  <input id="{{id}}" type="checkbox" {{enabled}} value="{{name}}"><h4 class="media-heading repoItem">{{name}}</h4>
  <small>{{description}}</small>
  </label>
</li>
{{/if}}